*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin-right: auto;
    margin-left:  auto;
    max-width: 2000px;
    padding-right: 10px;
    padding-left:  10px;
  }
.CompanyName{
    display:inline-block;
}
.navBar {
    text-align: right;
    float: right;
}
.navBar li{
    padding-top: 20px;
    display: inline-block;
}
.navBar a{
    display:inline-block
}
header{
    margin: 0 10px;
}

.BannerOne{
    background-color: rgb(51, 51, 51);
    color:white;
    text-align: center;
    padding: 10px;
    background-image: url('images/Page 2.png');
    height: 480px;
}

.AboutUs,.contact-us{
    background-color: rgb(74, 101, 189);
    color:white;
    text-align: center;
    padding: 10px;

}

.contact-us img{
    max-height: 30px;
    margin-top: 10px;
}

.email_link{
    color: white;
    margin-bottom: 100px;
}

.Products{
    padding-left: 7%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 600px;
}

.Product1{
    flex:1;
}

.Product2{
    flex:2;
}

.Product3{
    flex:3;
}
.FeaturedProducts img{
    max-height: 400px;
    max-width: 450px;
}

.FeaturedProducts h2, .FeaturedProducts p{
    text-align: center;
}
.FeaturedProducts p{
    font-size:x-large
}

.SocialBar{
    background-color: rgb(51, 51, 51);
    width: 2000px;
    text-align: center;
    display:inline-block;
}
.SocialBar li{
    display: inline-block;
    padding-right: 10px;
}
.SocialBar img{
    max-width: 30px;
    max-height: 30px;
    padding-right: 10px;
    display: inline-block;
}
.SocialBar p, .SocialBar a{
    color: white;
}

.Contact-heading, .form-container p{
    text-align: center;
}
form{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}
fieldset{
    border: 10px double rgb(0, 0, 0);
    padding: 40px;
    margin-bottom: 10px;
}

label{
    display: inline-block;
    font-weight: bold;
}

textarea{
    width:100%;
    height: 300px; 
}

.form-container p{
    font-weight: bold;
}

.List li{
    display: inline-block;
}

#button {
    display: block;
    padding: 10px;
    border: 1px solid gray;
    background-color:#344fc7;
    border-radius: 5px;
    font: inherit;
    color: white;
    margin: 0 auto;
  }
#button:focus {
    outline: 2px solid gray;
    background-color:#b8c5ff;
    font-weight: bold;
    color: white;
}

#button:hover {
    background-color: #2a91cc;
    box-shadow: 3px 3px 5px grey;
  }

#name, #email{
    width: 350px;
}

  